{% include 'common/_header.html.twig' %}
    <main>
        <div id ="articles" class="article">
            <p>{{ article.title }}</p>
            <p>{{ article.content }}</p>
            <img src="{{ article.image }}" alt="">
        </div>
        <a href="{{ 'home' }}">Accueil</a>
    </main>
{%  include 'common/_footer.html.twig' %}