{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div id ="articles" class="article">
            <p>{{ article.title }}</p>
            <p>{{ article.content }}</p>
            <img src="{{ article.image }}" alt="">
        </div>
        <a href="{{ 'home' }}">Accueil</a>
    </main>
{% endblock %}